@import 'hamburgerMenu.scss';



html{
    background-image: url(../backgrounds/space-loop.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.homepage{
    background-repeat: no-repeat;
    background-size: cover;
    p{
        color: white;
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
    }
    i{
        color: white;
    }
}
.main-title1{
    color: white;
    font-family: 'Raleway', sans-serif;
 }
.main-title2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 75px;
    line-height: 0.6;
    
    &:hover::after,
    :focus::after {
      opacity: 1;
      transform: translate3d(0, 0.2em, 0);
    }
}

.navigation{
    height: 100px !important;
    width: 100%;
    .branding{
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
    }
}


